<launch>

    <!-- define a box reaching out in front of the robot (length) with a certain
    width which will be scanned for obstacles. The box is centered width-wise on
    the robot's width -->
    <param name="warning_distance_length_cm" type="int" value="85"/>
    <param name="warning_distance_width_cm" type="int" value="36"/>

    <!-- run the obstacle warning code -->
    <node name="obstacle_warning" pkg="lab2" type="obstacle_warning.py">
      <!-- make sure the laser scan goes to the right place -->
      <remap from="base_scan" to="scan"/>
    </node>

    <!-- run the code that moves forward until an obstacle is signaled -->
    <node name="move_forward" pkg="lab2" type="move_forward.py" >
      <remap from="cmd_vel" to="raw_vel"/>
    </node>

    <!-- higher values mean the robot speeds up and slows down faster -->
    <param name="velocity_ramp_percent" type="double" value="20"/>
    <!-- run the code that smoothly ramps between velocities -->
    <node name="velocity_ramp" pkg="lab2" type="velocity_ramp.py">
      <remap from="ramped_vel" to="cmd_vel_mux/input/teleop"/>
    </node>

</launch>
